.sidebar {
    background-color: rgb(13, 17, 23);
    position: fixed;
    /* position: sticky; */
   
    top: 73px;
    left: 0;
    bottom: 0px;
    width: 380px;
    box-shadow: 1px 0px 0px rgba(48, 54, 61, 0.7);
    z-index: 5;
}

.my-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    box-sizing: border-box;
    margin: 0;
}

.top {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 14px;
    align-items: center;
    height: 20px;
}

.top-repo {
    color: rgb(144, 161, 178);
    font-weight: bold;

}

.p-sidebar {
    padding: 4px 11px 4px 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

.book {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 270px;
    top: 50px;
    z-index: 7;
    cursor: pointer;
}


.bottom {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 300px;
}

.text {
    width: 290px;
    padding: 10px 0px 10px 10px;
    align-items: center;
    background-color: rgb(1, 4, 9);
    color: white;
    border: 1px;
    border-style: solid;
    border-color: rgb(48, 54, 61);
    border-radius: 10px;
    font-size: 16px;
    
}


.for-owner {
    align-items: start;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    margin-bottom: 20px;
}



.sidebar-photo {
    width: 18px;
    border-radius: 9px;
    cursor: pointer;
    margin-right: 5px;
}


.repo-names {
    font-size: 17px;
    height: 8px;
    cursor: pointer;
    
}
.repo-names:hover {
    text-decoration: underline;
}

.activity {
    color: rgb(144, 161, 178);
    height: 10px;
    
}

.box-text {
    width: 250px;
    font-size: 14px;
    border: 1px;
    border-style: dashed;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    border-color: rgb(48, 54, 61);
}